<ng-include src="'views/navBar.html'"></ng-include>

<div id="container-profile " class="container">

    <form name="test" ng-submit="test.$valid && launchJob()">
        <input type="text" name="name" required ui-validate-async="{valid:'isValid($value)'}" ng-model="user.name" ng-enter="launchJob()"
        />

        <span ng-show="test.name.$error.required && submit">Nom obligatoire</span>
        <span ng-show="test.name.$error.valid">Trop court</span>
        <input type="submit" ng-click="submit = true">
    </form>
    <div class='container1'>
        <div class='subcontainer'>
            <div class='half'>
                <div class='droplet'></div>
                <div class='splash'>
                    <div class='splash-container'>
                        <div class='circle'></div>
                    </div>
                </div>
            </div>
            <div class='half'>
                <div class='droplet'></div>
                <h1>Compass Exemple</h1>
                <div class='splash'>
                    <div class='splash-container'>
                        <div class='circle'></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <span class="pull-right"> Max Gruson </span>
</div>
